<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Essence - Components</title>
	<style>
		html,
		body {
			/*height: 100% !important;*/
			width: 100% !important;
		}
		.component {
			height: 100%;
			width: 100%;
		}
		.component .iframe {
			height: 100%;
			width: 100%;
		}
		.colors {
			height: 500px;
			overflow: auto;
		}
		.colors button.e-background-white {
			border: 1px solid #999;
			color: #999;
		}
	</style>
</head>
<body>
	<div class="app"></div>
    <script src="/build/essence.min.js"></script>
</body>
</html>