@import '../../essence-core/src/less/mixins.less';

.datatable {
	width: 100%;

	> thead {

		> tr { 
			line-height: 64px;
			border-bottom: 1px solid @e-color-grey-200; 		
		}
	}

	> tbody {
		tr { 
			line-height: 48px; 
			border-bottom: 1px solid #EEE; 					
		}

		tr:hover {
			background: @e-color-grey-200;
		}	
			
		> .selected {
			background: @e-color-grey-100;
		}
	}

	> tfoot {

		tr { 
			line-height: 56px;
		}
	}

	.e-switch { 
		text-align: center; 

		.e-wave {
			top: @e-unit * (-3.75);
		}

		.e-check-valid {
			top: @e-unit * (-1.75);
		}
	}
}